body {
    font-family: 'Open Sans', sans-serif;
}

header {
    font-family: 'Times New Roman', Times, serif;
    background-image: url(assets/img/bg-hero.png);
    color: rgb(143, 10, 136);
    text-align: right;
    padding: 5% 5%;
}

.navbar {
    background-color: #ce00b2;
    color: rgb(0, 0, 0);
    display: flex;
    flex-direction: row;
}

.container-fluid {
    background-color: #ce00b2;
    color: rgb(0, 0, 0);
    display: flex;
    justify-content: flex-end;
}


footer {
    background-color: #da00bd;
    color: white;
    padding: 10px 0;
    display: flex;
    flex-direction: row;
}

.card {
    background-color: #ffcdf0;
    color: rgb(63, 6, 58);
    text-align: center;
    padding: 1% 1%;
    margin: 2%;
    display: flex;
    justify-content: space-between;
}

.title1 {
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    text-align: center;
}

.card-img-top {
    background-color: #e0e4e3;
    color: rgb(46, 0, 38);
    text-align: center;
    padding: 10% 10%;
}

.formato-cartas {
    display: flex;
    justify-content: space-between;
}

.container-fluid {
    background-color: #ec00a5;
    color: white;
    display: flex;
    justify-content: flex-end;
}

.logo-suricata {
    margin: 10px 10px 10px 50px;
}

.navbar-brand {
    margin: 10px 50px 10px 10px;
}

.RRSS {
    margin: 0px 10px 0px 10px;
}